<form [formGroup]="detailForm" (submit)="onSubmit()">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName" />
  </div>
  <div>
  <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" />
  </div>
  <div>
    <label for="detail">Select detail</label>
    <select id="detail" formControlName="detail">
      <option value="address">Address</option>
      <option value="phone">Phone Number</option>
    </select>
  </div>
  <div>
    <button type="submit" [disabled]="!detailForm.valid">Submit</button>
  </div>
</form>
